<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Palindrome</title>
  <link rel="stylesheet" href="css/style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
</head>
<body>
  <h1>Is the Word a Palindrome?</h1>

  <ul class="messages">
    <% for(var i=0; i<messages.length; i++) {%>
      <li class="message">
        <span><%= messages[i].word%></span>
        <span><%= messages[i].palindromeResult%></span>
      </li>
    <% } %>
  </ul>

  <form action="/palindrome" method="POST">
  <input type="text" placeholder="Check word" name="name">
  <button type="submit">Check</button>
  </form>
  
  <script type="text/javascript" src="/js/main.js"></script>
</body>
</html>